:local .sidebar {
  width: 25vw;
  height: calc(100vh - 64px);
  padding: 16px;
  background: #343436;
  overflow-x: hidden;
  overflow-y: auto;
}
:local @media (orientation: portrait) {
  :local .sidebar {
    width: calc(100vw - 32px);
    height: calc(168px - 32px);
  }
}
